* {
    background: linear-gradient(135deg, #214ef1, #d75248);
}

#formId {
    position: absolute;
    height: 550px;
    width: 300px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: rgb(215, 218, 219);
    border-color: #55eeff;
    border-radius: 20px;
    padding-top: 2px;
    padding-left: 50px;
    padding-right: 50px;
}

h3 {
    background: rgb(215, 218, 219);
    text-align: center;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#signinIcon {
    border-radius: 30px;
    height: 50px;
}

#signinCred {
    text-align: center;
    background-image: none;
}

#firstname,#middlename,#lastname,#country,#phone,#email,#password {
    width: 180px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
    position: relative;
    left: 60px;
    background: antiquewhite;
    border-color: antiquewhite;

}

#email::placeholder {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#password::placeholder {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#checkbox {
    position: relative;
    left: 60px;
    top: 3px;
    cursor: pointer;
}

#remember {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    background: rgb(215, 218, 219);
    position: relative;
    left: 60px;
}

#signUpbtn {
    width: 100px;
    height: 25px;
    border-radius: 20px;
    font-size: small;
    position: relative;
    left: 110px;
    top: 15px;
    background: rgb(0, 255, 26);
    border-color: rgb(0, 255, 60);
    transition-duration: 0.5s;
    opacity: 0.7;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;

}

#loginbtn:hover {
    opacity: 1;

}

#loginbtn:active {
    transform: translateY(1px);
}

.signup {
    width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
    text-align: center;
    position: relative;
    left: 60px;
    background: rgb(215, 218, 219);
}

.signup1 {
    background: rgb(215, 218, 219);
}